  .hero.is-primary {
    background: linear-gradient(rgb(48, 48, 48), rgb(48, 48, 48));
  }

  .hero.is-info {
    background: linear-gradient(rgb(160, 81, 195), rgb(87, 39, 150));
  }

 .logo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: inline-block;
  }

  .plogo {
    width: 100px;
    height: 100px;
    
    display: inline-block;
  }

  .title {
    color:white;
  }

  .subtitle {
    color:white;
  }
