body {
    background-color: rgb(32, 32, 32);
}
.site_content {
    text-align: center;
}

.narlogo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: inline-block;
}

.narsxititle {
    font-family: 'Quicksand', sans-serif;
    font-size:50px;
    color:white;
    margin-top: -10px;
}

.narsxisubtitle {
    font-family: 'Quicksand', sans-serif;
    font-size:25px;
    color:white;
    margin-top: -30px;
}

.socials {
    text-align: center;
    margin-top: -15px;
    margin-right: 38px;
    text-decoration: none;
 }

 li {
    list-style: none;
    margin: auto;
    display: inline-block;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
  }

.socialmediaicon {
    display: inline-block;
    padding: 40 40px;
    text-decoration: none;
}

.socials a {
    color: white;
    width: 200px;
    text-decoration: none;
}

.socials a:hover {
    color: rgb(0, 255, 149);
    transition: 1s;
}

.footerting {
    margin-top: 330px;  
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size:20px;
    color: white;
}